.ipynb_checkpoints/
MicroGPT/
hardware/tb/
batch_training.ipynb
microgpt.ipynb
plan.pdf
trained_model.pt
training_data.ipynb
Training.ipynb
/quantization/Weights/
/quantization/quantization_dark.png
/quantization/quantization_light.png
/quantization/norm.py

/MicroPoetry/_ide
/MicroPoetry/.rigel_lopper
/MicroPoetry/ram_utils.txt
/MicroPoetry/table.xlsx

*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/**/synth_1/
.Xil/
*.jou
*.log
*.str

.metadata/
**/Debug/
**/Release/
**/_ide/
*.log

# Vivado
*.gen/
*.xpr
*.pb
*.wdb
*.wcfg
*.dcp
/MicroPoetry/utilization_report.txt

# Block design
/MicroPoetry/MicroPoetry.srcs/sources_1/bd/

# Vitis
/MicroPoetry/platform/
/MicroPoetry/app/build/
**/compile_commands.json
**/.clangd
*.bak
**/app.yaml
**/platform.spr
.metadata/
**/Debug/
**/Release/